<div class="sheet__img">
    <img *ngIf="classicMode" [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
    <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name}}.gif" [alt]="pokemon.name">
</div>
<div *ngIf="pokemon" class="center-name">
  <h2 >{{pokemon.name}}</h2>
  <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" *ngFor="let type of pokemon.types">{{type.type.name}}</span>
</div>


<mat-tab-group class="sheet">


    <mat-tab label="STATS">
        <div class="sheet__tab">
            <div class="sheet__item w-100">
                <div class="sheet__progress w-100">
                    <div class="w-20 color-gray sheet__item_label">HP</div>
                    <div class="w-80">
                        <app-progress-bar [color]="getPrincipalType(pokemon.types)" [value]="pokemon.stats[5].base_stat"></app-progress-bar>
                    </div>
                </div>

                <div class="sheet__progress w-100">
                    <div class="w-20 color-gray sheet__item_label">ATK</div>
                    <div class="w-80">
                        <app-progress-bar [color]="getPrincipalType(pokemon.types)" [value]="pokemon.stats[4].base_stat"></app-progress-bar>
                    </div>
                </div>

                <div class="sheet__progress w-100">
                    <div class="w-20 color-gray sheet__item_label">DEF</div>
                    <div class="w-80">
                        <app-progress-bar [color]="getPrincipalType(pokemon.types)" [value]="pokemon.stats[3].base_stat"></app-progress-bar>
                    </div>
                </div>

                <div class="sheet__progress w-100">
                    <div class="w-20 color-gray sheet__item_label">STAK</div>
                    <div class="w-80">
                        <app-progress-bar [color]="getPrincipalType(pokemon.types)" [value]="pokemon.stats[2].base_stat"></app-progress-bar>
                    </div>
                </div>

                <div class="sheet__progress w-100">
                    <div class="w-20 color-gray sheet__item_label">SDEF</div>
                    <div class="w-80">
                        <app-progress-bar [color]="getPrincipalType(pokemon.types)" [value]="pokemon.stats[1].base_stat"></app-progress-bar>
                    </div>
                </div>

                <div class="sheet__progress w-100">
                    <div class="w-20 color-gray sheet__item_label">SPD</div>
                    <div class="w-80">
                        <app-progress-bar [color]="getPrincipalType(pokemon.types)" [value]="pokemon.stats[0].base_stat"></app-progress-bar>
                    </div>
                </div>

            </div>
        </div>
    </mat-tab>

    <mat-tab label="EVOLUTIONS">
      <div class="sheet__tab">
        <img *ngIf="classicMode" [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
        <img *ngIf="classicMode" [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
        <img *ngIf="classicMode" [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
      </div>
  </mat-tab>
  <mat-tab label="MOVES">
    <div class="sheet__tab">
        <div class="sheet__item">
            <div class="color-gray sheet__item_label">Height: </div>
            <div class="color-gray sheet__item_label">Weight: </div>
            <div class="color-gray sheet__item_label">Abilities: </div>
        </div>
        <div class="sheet__item">
            <div>{{pokemon.height}}</div>
            <div>{{pokemon.weight}}</div>
            <div>{{getAbilities()}}</div>
        </div>
    </div>
</mat-tab>

</mat-tab-group>
